main{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}
.part-bot{
    border: 1px solid #ccc;
    background-color: #2d2d2d;
    padding: 2rem;
    animation: borderGlowMove 3s infinite;
    margin-bottom: 5px;
}

.part-bot {
    height: 35rem;
    width: 80%;
    transition: width 0.5s ease;
    z-index: 0;
    border-radius: 5px;
    margin-bottom: 3rem;
}

.part-bot .chat-bot {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    z-index: 1;
}

.output-message{
    overflow-y: scroll;
    margin: 0 auto;
    scrollbar-width: none;
}
.output-message, 
.input-part{
    width: 80%;
}
.part-bot .output-message{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    overflow-y: auto;
    overflow-x: hidden;
    flex-direction: column;
}
.part-bot .output-message figure{
    display: flex;
    justify-content: center;
    align-items: center;
}
.part-bot .input-message{
    display: flex;
    align-items: center;
    justify-content: center;    
    flex-direction: column;
}
.part-bot .input-part{
    display: flex;
    justify-content:center;
    align-items: center;
    background-color: #656565;
    padding: 1rem;
    border-radius: 2rem;
    margin-bottom: 2rem;
}
.part-bot .output-message .icon-bot{
    width: 100px;
}
.part-bot .output-message h2{
    font-size: 1.1rem;
    font-family: "Anonymous Pro", monospace;
    color: #FFF;
    font-weight: normal;
}
.input-part form{
    display: flex;
    justify-content: space-between;
    width: 90%;
}

.part-bot .input-part form input::placeholder{
    color: #fff;
}
.part-bot .input-part form input{
    border: none;
    background: transparent;
    outline: none;
    color: #FFF;
    width: 80%;
}
.part-bot .input-part form button{
    border: none;
    background: transparent;
}
.part-bot .suggestions-bot ul{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.2rem; /* Aumente o gap para ajustar o alinhamento */
    row-gap: 1rem; /* Espaçamento entre as linhas */
}
.part-bot .suggestions-bot ul li a{
    font-size: 14px;
    color: #FFF;
    font-family: "Anonymous Pro", monospace;
    padding: 1rem;
    background-color: #656565;
    border-radius: 2rem;
    display: inline-block; /* Permite que o scale funcione corretamente */
    transition: transform 0.8s ease-in-out;
}
.part-bot .suggestions-bot ul li:hover{
    transform: scale(1.1);
    display: inline-block;
    transition: 0.7s;
}
.part-bot .suggestions-bot ul li a:hover{
    transform: scale(1.0);
    transition: 0.7s;
}
.nav-menu.open li:nth-child(1){
    text-shadow:
    2px 2px 0px #5F4B7B,
    -2px -2px 0px #5F4B7B,
    2px -2px 0px #5F4B7B,
    -2px 2px 0px #5F4B7B;
}
.greeting{
    display: flex;
    align-items: center;
}


