

body{
    height: 100vh;
    overflow-y: hidden;
    --color1: #FFF ;
    --color2: #fff ;
}


/* START HEADER */

.nav-bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    position: relative;
    background-color: var(--color2);
    padding: 7px 20px;
}
.logo img {width: 30px;}
.menu {display: flex;}
.menu li {padding-left: 30px;}
.menu li a {
    display: inline-block;
    text-decoration: none;
    color: var(--color1);
    text-align: center;
    transition: 0.15s ease-in-out;
    position: relative;
    text-transform: uppercase;
}
.menu li a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    background-color: var(--color1);
    transition: 0.15s ease-in-out;
}
.menu li a:hover:after {width: 100%;}
.open-menu , .close-menu {
    position: absolute;
    color: black;
    cursor: pointer;
    font-size: 1.5rem;
    display: none;
}
.open-menu {
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}
.close-menu {
    top: 20px;
    right: 20px;
}
#check {display: none;}

header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 30px;
    background-color: #591769;
    color: white;
    padding: 10px 0;
    font-size: 1.3em;
    font-weight: 600;
    border-bottom: 5px solid white;
}

.green-row{
    background-color: #1E4F05;
    padding: 5px;
}

.bot-picture{
    display: flex;
    align-items: center;
    gap: 15px;
}

.first-bot img{
    width: 60px;
}

/* END HEADER */

.container-main{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 85%;
}

.header-main{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 80%;
}

.nav-header ul li a, .mobile-menu ul li a{
    color: black;
}

#school-logo img{
    width: 300px;
}

footer{
    background-color: #591769;
    padding: 30px 0;
}

